extends admin_layout

block content
  .w3-container.w3-padding

    .w3-card-4.w3-padding

      h2 Painel de Administração

      p
        | Escolha uma secção no menu acima para gerir o conteúdo do site.