//- AEEUM — Rota principla
//- Cada secção em views/partials_index 

extends layout

block content

  include partials_index/hero
  include partials_index/quick-nav

  
  include partials_index/sobre
  include partials_index/historia
  include partials_index/departamentos
  include partials_index/atividades
  include partials_index/documentos
  include partials_index/presidentes
  include partials_index/socios
  include partials_index/voluntarios
  include partials_index/apoio

  include partials_index/footer