footer#contactos
  .container.footer-grid
    div
      h3 AEEUM
      p #{textoSolto.slogan}
      a(href='/admin' target='_blank' rel='noopener noreferrer') Administração

    div
      h4 Links Rápidos
      a(href='#sobre') Sobre Nós
      a(href='#departamentos') Departamentos
      a(href='#documentos') Documentos

    div
      h4 Redes e Contactos
      a(href='https://www.instagram.com/aeeum_' target='_blank' rel='noopener noreferrer') Instagram
      a(href='https://www.facebook.com/aeeuminho/?ref=embed_page#' target='_blank' rel='noopener noreferrer') Facebook
      a(href='mailto:aeeuminho@gmail.com') aeeuminho@gmail.com
